{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('raw_create') }}" method="POST">
                <fieldset>
                    <legend>New Ingredient</legend>




                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Name:</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title"
                                   name="raw[name]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Description:</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="raw[description]"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="0.01" class="form-control" id="article_price"
                                   name="raw[price]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="quantity">Grams:</label>
                        <div class="col-sm-6">
                            <input type="number" step="0.01" class="form-control" id="quantity"
                                   name="raw[quantity]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="picture">Picture URL:</label>
                        <div class="col-sm-4 ">
                           <textarea class="form-control" rows="1" id="picture"
                                     name="raw[picture]"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="kcal">Kcal per 100g:</label>
                        <div class="col-sm-6">
                            <input type="number" step="0.01" class="form-control" id="kcal"
                                   name="raw[kcal]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="fats">Fats per 100g:</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="0.01" class="form-control" id="fats"
                                   name="raw[fats]">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="sfats">Saturated fats  per 100g:</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="0.01" class="form-control" id="sfats"
                                   name="raw[saturatedFats]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="protein">Proteins per 100g:</label>
                        <div class="col-sm-6">
                            <input type="number" step="0.01" class="form-control" id="protein"
                                   name="raw[proteins]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="carbs">Carbs per 100g:</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="0.01" class="form-control" id="carbs"
                                   name="raw[carbs]">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="sugars">Suagars per 100g:</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="0.01" class="form-control" id="sugars"
                                   name="raw[sugars]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="salt">Salt  per 100g:</label>
                        <div class="col-sm-6">
                            <input type="number" step="0.01" class="form-control" id="salt"
                                   name="raw[salt]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <input type="hidden" value="0" name="raw[vegan]" />

                        <input type="checkbox" name="raw[vegan]" id="vegan" value="1" /><label for="vegan">Vegan  &nbsp; </label>
                        <input type="hidden" value="0" name="raw[vegetarian]" />

                        <input type="checkbox" name="raw[vegetarian]" id="vegetarian" value="1" /><label for="vegetarian"> Vegatarian  &nbsp; </label>
                        <input type="hidden" value="0" name="raw[glutenfree]" />

                        <input type="checkbox" name="raw[glutenfree]" id="glutenfree" value="1" /><label for="vegan"> Gluten-free &nbsp;  </label>
                        <input type="hidden" value="0" name="raw[organic]" />

                        <input type="checkbox" name="raw[organic]" id="organic" value="1" /><label for="vegan"> Organic  &nbsp; </label>
                        <input type="hidden" value="0" name="raw[lactosefree]" />

                        <input type="checkbox" name="raw[lactosefree]" id="lactosefree" value="1" /><label for="lactosefree"> Lactose-free  &nbsp; </label>


                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
