
<header>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand btn" id="toggle-sidebar" >Menu</a>
                <a href="{{ path('homepage') }}" class="offset-2"><img src="{{ asset('images/manjaplan-en.png') }}" alt="logo" height="50"></a>

            </div>


            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="search" name="recipe[raw1]" class="search form-control" placeholder="Search recipes"  />
                </div>
            </form>
        </div><!-- /.container-fluid -->
    </nav>



</header>