{% extends 'base.html.twig' %}

{% block body %}
   <li>
      <a href="{{ path('recipe_create') }}">
         Add new meal
      </a>
   </li>

   <li>
      <a href="{{ path('day_generate') }}">
Generate
      </a>
   </li>
   <li>
      <a href="{{ path('week_generate') }}">
         Generate Week
      </a>
   </li>
   <li>
      <a href="{{ path('week_view') }}">
         View Week
      </a>
   </li>

  {% endblock %}

