{% extends 'base.html.twig' %}


{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>



    <script>
        var productNames = [];

        $(document).ready(function(){

            $('.country').each(function() {
                $(this).typeahead({

                source: function(query, result)
                {
                    $.ajax({
                        url: '{{ path('raw_search') }}',
                        method:"POST",
                        data:{query:query},
                        dataType:"json",
                        success:function(data)
                        {
                            result($.map(data, function(item){
                                var productNames = [];

                                $.each(item, function(index, product) {
                                    productNames.push(product.name + "#" + product.picture + "#" + product.id + "#" + product.price + "#" + product.pricePerG);
                                });
                                return productNames;
                            }));

                        }
                    })
                },

                    highlighter: function(item) {
                        console.log(item);
                        var parts = item.split('#'),
                            html = '<div><div class="typeahead-inner" id="' + parts[2] + '">';
                        html += '<img src="' + parts[1] + '" width="50" height="50" alt="ingredient img">';
                        html += '<div class="item-body">';
                        html += '<p class="item-heading">' + parts[0] + '</p>';
                        html += '<p class="item-heading">Price:' + parts[3] + '&emsp; Price per G:' + Math.round(parts[4] * 100) / 100 + '</p>';
                        html += '<p><a href="http://127.0.0.1:8000/raw/view?id='+parts[2]+'">View</a></p>';

                        html += '</div>';
                        html += '</div><hr></div>';



                        return html;
                    } , afterSelect: function (item) {
                        console.log(item);
                        console.log('afterSelect: ' + item.id);
                        $('.hiddenid').eq(0).val(item.id).removeClass('hiddenid' ); }
                    ,
                    updater: function(item) {
                        var parts = item.split('#');
                        return item={name:parts[0], id:parts[2]};

                    }



        }); });})
    </script>


<br /><br />
<div class="container" style="width:1300px;">
    <h2 align="center">Create New Recipe</h2>
    <br /><br />
    <div class="container body-content span=8 offset=2">
        <form class="form">
            <form class="form-horizontal" action="{{ path('recipe_create') }}" method="POST">

                <fieldset >






                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Type:</label>
                        <div class="col-sm-4 ">
                            <input type="radio" name="recipe[type]" value="breakfast" checked> Breakfast<br>
                            <input type="radio" name="recipe[type]" value="dinner"> Dinner<br>
                            <input type="radio" name="recipe[type]" value="snack"> Snack<br>
                        </div>
                    </div>

                    <br><br><br>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Name:</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title"
                                   name="recipe[name]">
                        </div>
                    </div>
<br><br>

                    <table class="table">
                        <label class="form-check-label" style="align-content: center" >Ingredients</label>
                        <tr>
                            <th width="150">
                    <input type="text" name="recipe[quantity1]" class="form-control  input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                        <input type="text" name="recipe[raw1]" class="country form-control  input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id1]" id="inputtypeHidden">

                            </th>

                        </tr>
                        <tr class="hidden" >
                            <th width="150">
                                <input type="text" name="recipe[quantity2]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw2]" id="country2" class="country form-control  input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" name="recipe[id2]" class="hiddenid" id="inputtypeHidden2">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity3]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw3]" id="country3" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id3]" id="inputtypeHidden3">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity4]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw4]" id="country4" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id4]" id="inputtypeHidden4">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity5]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw5]" id="country5" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id5]" id="inputtypeHidden5">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity6]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw6]" id="country6" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id6]" id="inputtypeHidden6">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity7]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw7]" id="country7" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id7]" id="inputtypeHidden7">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity8]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw8]" id="country8" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id8]" id="inputtypeHidden8">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity9]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw9]" id="country9" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id9]" id="inputtypeHidden9">
                            </th>

                        </tr>  <tr class="hidden">
                            <th width="150">
                                <input type="text" name="recipe[quantity10]" class="form-control input-lg" autocomplete="off" placeholder="Grams" />
                            </th>
                            <th>
                                <input type="text" name="recipe[raw10]" id="country10" class="country form-control input-lg" autocomplete="off" placeholder="Ingredients" />
                                <input type="hidden" class="hiddenid" name="recipe[id10]" id="inputtypeHidden10">
                            </th>

                        </tr>
                    </table>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-success" id="newfield" >Add new field</a>
                        </div>
                    </div>
<br>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Description:</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="recipe[description]"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="servings">Servings:</label>
                        <div class="col-sm-4 ">
                           <textarea class="form-control" rows="1" id="servings"
                                     name="recipe[servings]"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="picture">Picture URL:</label>
                        <div class="col-sm-4 ">
                           <textarea class="form-control" rows="1" id="picture"
                                     name="recipe[picture]"></textarea>
                        </div>
                    </div>



                </fieldset>

<br>






                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </form>
        </div>

    </div>
</div>

<script>
    console.log("hello");
    document.getElementById("newfield") .addEventListener("click", function () {


            console.log("hello");
            document.getElementsByClassName('hidden')[0].className = "";

    })

</script>
{% endblock %}